* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font1: 'Poppins';
  --font2: 'Roboto', sans-serif;
  --font3: 'Crete Round', sans-serif;
  --font4: 'Inter', sans-serif;
  --font5: 'InaiMathi', sans-serif;
}

.header nav {
  font-family: var(--font2);
  color: #fff;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  width: 375px;
  height: 48px;
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  text-align: center;
}

.header nav .name {
  text-decoration: none;
  color: #fff;
}

.header nav .menu-icon {
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.container-1 {
  width: 375px;
  min-height: 3455px;

} 

.container-1 .section {
  padding: 120px 24px 120px 24px;
  width: 375px;
  height: 590px;
  background: #1c1a19;
  background-image: url(images/background_img.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.section h1 {
  width: 327px;
  height: 124px;
  font-family: var(--font3);
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.section .title {
  width: 327px;
  height: 27px;
  font-family: var(--font2);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin: 12px 0;
}

.section .para {
  width: 327px;
  height: 123px;
  font-family: var(--font1);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 12px;
}

.section ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  justify-content: space-between;
}

.section ul li {
  list-style: none;
}

.page2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 0 0;
  gap: 80px;
}

.div-page2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 24px;
}

.myworks {
  width: 327px;
  height: 83px;
  font-family: var(--font3);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
}

.line {
  width: 327px;
  height: 0;
  border: 1px solid #212121;
  margin-top: 24px;
}

.image {
  width: 327px;
  height: 237px;
  margin-top: 80px;
}

.story {
  width: 327px;
  height: 36px;
  font-family: var(--font3);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin-top: 24px;
}

.description {
  width: 327px;
  height: 147px;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
}

.skill-cont ul li a {
  text-decoration: none;
  color: #fff;
  justify-content: center;
}

.languages ul {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  list-style: none;
  width: 297px;
  height: 40px;
}

.language-about ul li a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.languages .css a {
  font-family: var(--font4);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  text-decoration: none;
}

.languages .html a {
  font-family: var(--font4);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  text-decoration: none;
}

.languages .bootstrap a {
  font-family: var(--font4);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  text-decoration: none;
}

.languages .Ruby a {
  font-family: var(--font4);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  text-decoration: none;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 12px;
  border: none;
  padding: 12px;
}

.container-grid {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
}

.page3 {
  background-image: url(images/Img_Placeholder1.png);
  width: 327px;
  height: 386px;
}

.heading2 {
  display: flex;
  align-items: center;
  margin-top: 84px;
  margin-right: 16px;
  margin-left: 16px;
  width: 295px;
  height: 81px;
  font-family: var(--font2);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.description2 {
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  width: 295px;
  height: 87px;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.lang ul {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  gap: 12px;
  list-style: none;
  margin-left: 16px;
  width: 236px;
  height: 40px;
}

.lang .html a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  text-decoration: none;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.lang .bootstrap a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  font-family: var(--font4);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

.lang .Ruby a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  font-family: var(--font4);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

.button1 {
  width: 327px;
  height: 48px;
  background: #ff6b00;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  margin-top: 22px;
  justify-content: center;
}

.about {
  width: 375px;
  height: 1901px;
  padding: 120px 24px 0 24px;
  margin-top: 120px;
  background-color: #1c1a19;
  background-position: bottom 77% right;
  background-image: url(images/about-me.png);
  background-repeat: no-repeat;
}

.about-me {
  width: 327px;
  height: 79px;
  font-family: var(--font3);
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.description-3 {
  margin-top: 24px;
  width: 327px;
  height: 148px;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.getresume {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  justify-content: center;
  border: none;
}

.line-about {
  border: 1px solid #fff;
  width: 327px;
  margin-top: 209px;
}

.Langua {
  gap: 12px;
  font-family: var(--font5);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  color: #fff;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  width: 225.46px;
  height: 41.46px;
}

.language-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 24px;
  margin: 128px 50.77px 0 50.77px;
  width: 225.46px;
  height: 281.46px;
}

.language-about ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
  width: 186px;
  height: 216px;
}

.language-about ul .Javascript {
  width: 114px;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 0;
  height: 48px;
  justify-content: center;
}

.language-about ul .Ruby2 {
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 12px 0;
  width: 162px;
  height: 48px;
  justify-content: center;
}

.language-about ul .html2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  justify-content: center;
}

.language-about ul .css1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  justify-content: center;
}

.frame-cont {
  width: 281px;
  height: 336px;
  display: flex;
  margin-left: 23px;
  margin-right: 23px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.frameworks {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 281px;
  height: 40px;
  justify-content: center;
  color: #fff;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.frame-cont ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
  width: 186px;
  height: 272px;
}

.frame-cont ul li {
  list-style: none;
}

.frame-cont ul .bootstrap a {
  color: white;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 114px;
  height: 48px;
  justify-content: center;
  list-style: none;
  text-decoration: none;
}

.frame-cont ul .Ruby-on-rails a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 162px;
  height: 48px;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  justify-content: center;
  list-style: none;
  text-decoration: none;
}

.frame-cont ul .rspec a {
  padding: 12px 0;
  width: 114px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  justify-content: center;
  color: #fff;
  list-style: none;
  text-decoration: none;
}

.frame-cont ul .css2 a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  list-style: none;
  text-decoration: none;
  justify-content: center;
}

.frame-cont ul .selenium a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  list-style: none;
  text-decoration: none;
  justify-content: center;
}

.skill-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 169px;
  height: 336px;
  margin-left: 79px;
  margin-right: 79px;
}

.skill-cont .skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 169px;
  height: 40px;
  color: white;
  justify-content: center;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.skill-cont ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
  width: 138px;
  height: 272px;
}

.skill-cont ul li {
  list-style: none;
}

.skill-cont ul .Codekit a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
}

.skill-cont ul .Github a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
}

.skill-cont ul .Codepen a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
}

.skill-cont ul .Gitlab a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
}

.skill-cont ul .terminal a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
}

.form {
background: #E5E5E5;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 120px 24px 0px 24px;
/* gap: 58px; */
width: 375px;
height: 844px;
}

.form .para1 {
width: 327px;
height: 216px;
font-family: var(--font4);
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
text-align: center;
color: #172B4D;
margin-bottom: 58px;
}
.form .form_div {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
width: 327px;
height: 330px;

}

.form .fname {
width: 327px;
height: 48px;
align-items: center;

padding: 15px 16px;
}

.full_name {
height: 18px;
width:295px;
font-family: var(--font4);
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
display: flex;
align-items: center;
justify-content: center;
color: #979493;
list-style: none;
text-decoration: none;
border: none;
background: #E5E5E5;
}

.name_line {
height: 1px;
margin-top: 14px;
background: #DBD8D7;
}

.form .form_div .email {
  width: 327px;
  height: 48px;
  margin-top: 24px;
  padding: 15px 16px;
  margin-bottom: 24px;
}

.email_address {
height: 18px;
width: 295px;
font-family: var(--font4);
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
display: flex;
align-items: center;
color: #979493;
border: none;
background: #E5E5E5;
}

.email_line {
height: 1px;
margin-top: 14px;
background: #DBD8D7;
}

.form .form_div .text_area {
  width: 327px;
height: 114px;
margin-bottom: 24px;
background: #E5E5E5;
}

.text_box {
width: 327px;
height: 114px;
padding: 12px 12px 12px 12px;
background:  #E5E5E5;

}

.get_in_touch {
  width: 131px;
height: 48px;
  font-family: var(--font4);
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background: #FF6B00;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  border-style: none;
  padding: 12px;
}
.get_in_touch:hover {
  background: white;
  color: #FF6B00;
  outline: 2px solid #FF6B00;;
} 


.last_game {
  width: 375px;
  height: 81px;
  background: #E5E5E5;
}

.icons_line {
  background: #DFE1E6;
  width: 375px;
  height: 1px;
  margin-left: 0px;
}

.last-icons ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 87px 13px 88px;
  padding: 0;
  color:black;
  width: 200px;
height: 40px;
  justify-content: space-between;  
}

.last-icons ul li {
  list-style: none;
  color: #505F79; 
  
}

.final_line {
width: 134px;
height: 5px;
margin-left: 120px;
background: #0D151E;
border-radius: 10px;
align-items: center;
}
